<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/common.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.7.2/css/all.css" />
  <style>
    div.panel { width: 600px; margin: 40px; background-color: #fafafa; }
    input:not([type=radio]) { padding: 0.7em 1em; margin-bottom: 7px; width: 300px; 
      border: 2px solid #dee; border-radius: 8px; }
    div.panel input:focus { border: 2px solid #aaf; outline: none; }
    form > div { margin-bottom: 1.5em; }
    label:nth-child(1) { font-size: 11pt; font-weight: bold; display: block; 
      margin-bottom: 0.4em; }
    div.error { color: red; }
  </style>
</head>
<body>
<div th:replace="~{fragments::main-menu}"></div>
<div class="container">
  <nav><i class="fas fa-caret-right"></i> 시스템 관리 - 사용자 목록</nav>
  <main>  
    <div class="panel">
      <h1 class="panel-header" 
          th:text="${userEdit.id > 0 ? '사용자 수정' : '사용자 등록'}"></h1>
      <div class="panel-body">
         <form method="post" th:action="@{''}" th:object="${userEdit}">
          <div>
            <label>사용자 아이디:</label>
            <input type="text" th:field="*{loginName}" placeholder="아이디를 입력하세요" />
            <div class="error" th:errors="*{loginName}"></div>
          </div>
          <div>
            <label>이름:</label>
            <input type="text"  th:field="*{name}" placeholder="이름을 입력하세요" />
            <div class="error" th:errors="*{name}"></div>
          </div>
          <div>
            <label>이메일:</label>
            <input type="email" th:field="*{email}" placeholder="이메일 주소를 입력하세요" />
            <div class="error" th:errors="*{email}"></div>
          </div>
          <div>
            <label>사용자 유형:</label>
            <label><input type="radio" th:field="*{userType}" value="관리자" /> 관리자</label>
            <label><input type="radio" th:field="*{userType}" value="교수" /> 교수</label>
            <label><input type="radio" th:field="*{userType}" value="학생" /> 학생</label>
            <div class="error" th:errors="*{userType}"></div>
          </div>
          <div>
            <label>사용자 상태:</label>
            <label><input type="radio" th:field="*{enabled}" value="true" /> 정상</label>
            <label><input type="radio" th:field="*{enabled}" value="false" /> 정지</label>
          </div>
            <button type="submit" class="btn blue" name="cmd" value="save">
              <i class="fas fa-check"></i> 저장</button>
            <button type="submit" class="btn red" th:if="${ userEdit.id > 0 }"
                    onclick="return confirm('삭제하시겠습니까?')"
                    name="cmd" value="delete">
              <i class="far fa-trash-alt"></i> 삭제</button>
            <a th:href="${ 'list?' + pagination.queryString }" class="btn">
              <i class="fas fa-list-ul"></i> 목록으로</a>
            <div class="error" th:errors="${userEdit}"></div>
          </form>
      </div>
    </div> 
  </main> 
  <div th:replace="~{fragments::footer}"></div>
</div>
</body>
</html>
