<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>소프 게시판</title>
  <link rel="stylesheet" type="text/css" href="/common.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.7.2/css/all.css" />
  <script type="text/javascript" src="/common.js"></script>
  <style>
    div.panel { width: 1000px; }
    form select:nth-child(1) { margin-right: 4em; }
    form select:last-child { float: right; }
    table.list { width: 100%; margin-top: 1em; }
  </style>
</head>
<body onload="pagination()">
<div th:replace="~{fragments::main-menu}"></div>
<div class="container">
  <nav><i class="fas fa-caret-right"></i> 시스템 관리 - 사용자 목록</nav>
  <main>
    <div class="panel">
      <h1 class="panel-header">사용자 목록</h1>
      <div class="panel-body">
        <form method="get" th:action="${''}" th:object="${pagination}">
          <select th:field="*{od}">
            <option th:each="op : ${ orderOptions }"
                    th:value="${ op.value }" th:text="${ op.text }" />
          </select>
          <select th:field="*{si}">
            <option th:each="op : ${ searchOptions }"
                    th:value="${ op.value }" th:text="${ op.text }" />
          </select>
          <input type="text" th:field="*{st}">
          <button type="submit" class="btn cyan small">조회</button>
          <a class="btn small" href="list">초기화</a>
          <select th:field="*{sz}">
            <option value="10">10</option><option value="15">15</option>
            <option value="30">30</option><option value="50">50</option>
          </select>
        </form>
        <table class="list">
          <thead>
            <tr><th>ID</th><th>사용자 아이디</th><th>이름</th><th>이메일</th>
              <th>활성</th><th>권한</th></tr>
          </thead>
          <tbody>
            <tr th:each="u : ${ users }"
                th:href="${ 'edit?id=' + u.id + '&' + pagination.queryString }"
                onclick="onClickHref(event)">
              <td th:text="${ u.id }"></td>
              <td th:text="${ u.loginName }"></td>
              <td th:text="${ u.name }"></td>
              <td th:text="${ u.email }"></td>
              <td th:text="${ u.enabled ? '활성' : '비활성' }"></td>
              <td th:text="${ u.userType }"></td>
            </tr>
          </tbody>
        </table>
        <div class="pagination" th:data-record-count="${pagination.recordCount}"
          th:data-page-size="${pagination.sz}" th:data-current-page="${pagination.pg}"></div>
      </div>
    </div>
  </main>
  <div th:replace="~{fragments::footer}"></div>
</div>
</body>
</html>
